<div class="hero_col_12">
	<br>
    <h1 class="hero_red size_18">
        Marker Offset<br />
        <strong class="size_11 hero_grey">Adjust your custom marker offset</strong>
    </h1>
    
    <div id="marker_offset_container">
    	<div class="marker_border_container">
        </div>
    </div>
    
    <div class="hero_section_holder hero_grey">
        <div class="hero_col_12">
            <h3 class="hero_grey">Offset Adjustment</h3>
            <p>
                Drag your marker to position the marker's point on the center crosshairs.
            </p>
        </div>
    </div>    
    
</div>